{% extends "base.html" %}

{% set active_page = "post" %}

{% block content: %}

<div class="container">
	<div id="body" class="row">
		<div class="col-md-12">
			<h1> Post {{post['id']}} </h1>
			<hr>
			<h2> JSON <small> <a href="{{url_for("post", postid=post.data['id'], json=1)}}"> raw </a></small> </h2>
			<code> {{post.data|tojson}} </code>
			<hr>
			<h2> Formatted </h2>
			<table class="table table-bordered table-hover table-striped">
				<tbody>
					{% for x in post.data %}
					<tr>
						<td> {{x}} </td>
						<td> {{post.data[x]}} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<h1> Preview </h1>
	{{renderpost(post)}}
</div>
{% endblock %}