{% macro renderpost(post) -%}
<div class="col s12 post card">
	{% if post.data['title'] %}
	<div class="post_title">
		<h2>{% if post.data['url'] %}<a href="{{post.data['url']}}">{% endif %}{{post.data['title']|safe}}{% if post.data['url'] %}</a>{% endif %}</h2>
	</div>
	{% endif %}

	{% if 'asking_name' in post.data and 'asking_url' in post.data %}
	<div class="card ask">
		<div class="askinfo green lighten-2 white-text">
			<span class="ask-user">
				@{{post.data['asking_name']}} asked
			</span>
			<p class="ask-question">
				{{post.data['question']|safe}}
			</p>
		</div>
	</div>

	<div class="post_answer">
		{{post.data['answer']|safe}}
	</div>
	{% endif %}

	{% if 'photos' in post.data %}
	<div class="post_photos">
		{% for image in post.data['photos'] %}
		<img src="{{image['original_size']['url']}}" class="responsive-img">
		{% endfor %}
	</div>
	{% endif %}

	{% if post.data['video_url'] %}
	<video class="responsive-video" src="{{post.data['video_url']}}" preload="none" {% if post.data['thumbnail_url'] %}poster="{{post.data['thumbnail_url']}}"{% endif %} controls></video>
	{% endif %}

	{% if post.data['text']}
	<blockquote>
		<p>{{post.data['text'|safe]}}</p>
		{% if post.data['source'] %}<cite>{{post.data['source']}}</cite>{% endif %}
	</blockquote>
	{% endif %}

	{% if post.data['description'] %}
	<div class="post_description"> {{post.data['description']|safe}} </div> 
	{% endif %}

	{% if post.data['body'] %}
	<div class="post_body"> {{post.data['body']|safe}} </div> 
	{% endif %}

	{% if post.data['caption'] %}
	<div class="post_caption"> {{post.data['caption']|safe}} </div> 
	{% endif %}

	<div class="bottom">
		<a href="{{url_for("main.post", postid=post.data['id'])}}"><b title="{{post.data['date']}}">{{post.data['timestamp']|prettydate}}</b></a>
		<a style="float: right" class="btn-floating btn-large waves-effect waves-light green" target="_blank" href="http://tumblr.com/reblog/{{post.data['id']}}/{{post.data['reblog_key']}}"> <i class="mdi-av-repeat"></i></a>
		{% if post.data['tags'] %}
		<p> {% for tag in post.data['tags'] %} <a href="{{url_for("main.archive", url=url, tag=tag, page=1)}}">#{{tag}}</a> {% endfor %}</p>
		{% endif %}
	</div>
</div>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Archive</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{url_for("static", filename="css/highlight/github.css")}}">
	<link rel="stylesheet" href="{{url_for("static", filename="css/materialize.min.css")}}">
	<link rel="stylesheet" href="{{url_for("static", filename="css/main.css")}}" type="text/css">
	{% block styles %}{% endblock %}
</head>
<body>

<header>
	<nav class="top-nav green">
		<ul class="left">
			<a href="#" data-activates="nav-mobile" class="button-collapse full">
				<i class="mdi-navigation-menu"></i>
			</a>
		</ul>
		<div class="nav-wrapper">
			<ul class="brand-logo center">
				<span class="brand-section">Archives</span>
			</ul>
		</div>
	</nav>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<ul id="nav-mobile" class="side-nav fixed">
		<li class="logo">
			<i class="mdi-content-archive large green-text"></i>
		</li>
		<li{% if active_page == "home" %} class="active"{% endif %}><a href="/">Home</a></li>
		{% if url %}
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header">{{url}}</a>
				<div class="collapsible-body">
					<ul>
						<li {% if posttype == 'all' %}class="active"{% endif %}><a href="{{url_for("main.archive", url=url, page=request.args.page)}}">All</a></li>
						{% for typ in POST_TYPES %}
						<li {% if posttype == typ %}class="active"{% endif %}><a href="{{url_for("main.archive", url=url, page=request.args.page, type=typ)}}">{{typ|capitalize}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</li>
		</ul>
		{% endif %}
		{% if post %}
		<li><a href="{{url_for("main.archive", url=post.url, page=1)}}">{{post.url}}</a></li>
		<li class="active"><a href="{{url_for("main.post", postid=post.data['id'])}}">#{{post.data['id']}}</a></li>
		{% endif %}
	</ul>
</header>

<main>
{% block content %}{% endblock %}
</main>

<footer id="footer" class="page-footer green darken-3">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h5 class="white-text">Stats</h5>
				<ul>
					<li><span class="grey-text text-lighten-3" href="#!">{{g.rowcount}} posts in database</span></li>
					<li><span class="grey-text text-lighten-3" href="#!">{{g.blogcount}} archived blogs</span></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-copyright">
		<div class="container">
			coded by <a href="http://blog.skeleton.army">blog.skeleton.army</a>
			<!-- Send me an ask to archive a blog that has 1500 or less posts. :O -->
		</div>
	</div>
</footer>

	<!-- Scripts -->
	<script src="{{url_for("static", filename="js/jquery.min.js")}}"></script>
	<script src="{{url_for("static", filename="js/materialize.min.js")}}"></script>
	<script src="{{url_for("static", filename="js/highlight.pack.js")}}"></script>
	<script src="{{url_for("static", filename="js/main.js")}}"></script>

</body>
</html>
