{% extends "base.html" %}

{% set active_page = "post" %}

{% block content: %}

<div class="container">
	<div class="row debug">
		<!-- JSON post -->
		<div class="col s12">
			<pre class="code"> 
			<span class="codeinfo">JSON <a href="{{url_for("main.post", postid=post.data['id'], json=1)}}"> raw </a></span>
<code>{{post.data|prettyjson}}</code>
			</pre>
		</div>

		<!-- Table card -->
		<div class="col s12">
			<div class="card">
				<h2> Table </h2>
				<table class="table bordered hover striped">
				{% for key, value in post.data.iteritems() %}
				<tr>
					<td> {{key}} </td>
					<td> {{value}} </td>
				</tr>
				{% endfor %}
				</table>
			</div>
		</div>

		<!-- Post card -->
		<h1> Preview </h1>
		{{renderpost(post)}}
	</div>
</div>
{% endblock %}