{% extends "base.html" %}

{% set active_page = "post" %}
{% set breadcrumb = post.data["id"] %}

{% block content: %}

<div class="container">
	<!-- Post card -->
	<div class="row">
		{{renderpost(post)}}
	</div>

	<!-- Debug info -->
	<div style="display: none" class="row debug">
		<!-- JSON post -->
		<div class="col s12">
			<pre class="hljs code"> 
				<span class="codeinfo">JSON <a href="{{url_for("main.post", postid=post.data['id'], json=1)}}"> raw </a></span>
				<code>{{post.data|prettyjson}}</code>
			</pre>
		</div>

		<!-- Table card -->
		<div class="col s12">
			<div class="card">
				<h2> Table </h2>
				<table class="table bordered hover striped">
				{% for key, value in post.data.iteritems() %}
				<tr>
					<td> {{key}} </td>
					<td> {{value}} </td>
				</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}