alembic
Flask
gevent
hiredis
redis==2.10.6  # https://github.com/celery/celery/issues/5175
PyTumblr
psycopg2
paginate_sqlalchemy
flower
celery
SQLAlchemy
gunicorn
classtools
beautifulsoup4
html5lib
furl
sentry-sdk[flask]
