body, header {
	margin-bottom: 25px;
}

#frontcard,
.askinfo,
.debug h2 {
	padding: 1rem;
}

#fronttitle {
	font-size: 4rem;
}

.code {
	position: relative;
}

pre.code {
	background-color: #f5f2f0;
	border: solid 1px rgba(51, 51, 51, 0.12);
	padding: 5px;
}

.codeinfo {
	position: absolute;
	padding: 1px 5px;
	background: #e8e6e3;
	top: 0;
	left: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #555;
	border: solid 1px rgba(51, 51, 51, 0.12);
	border-top: none;
	border-left: none;
}

.post {
	width: 100%;
	margin: 25px 0;
	padding: 15px;
	word-wrap: break-word;
}

.askinfo {
	font-size: 1.5rem;
}

blockquote {
	border-left: 2px solid #4CAF50;
}

p img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

.post_caption {
	margin-top: 1em;
}

.post_caption p {
	margin: 0 0 1em 0;
}

.post_caption blockquote p {
	font-size: 1em;
}

.post_caption blockquote {
	margin: 0 0 1em 0;
	padding: 0 0 0 15px;
}

h1, h2, h3 {
	margin-top: 0;
}

li.logo {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ddd;
}

#logo-container {
	height: 57px;
	margin-bottom: 32px;
}

#front-page-logo {
	display: inline-block;
	height: 100%;
	pointer-events: none;
}

li.logo:hover {
	background-color: transparent;
}

.bottom .btn-floating {
	margin: 0.5em;
}

header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

